* {
    box-sizing: border-box;
}

.box-animate {
    position: relative;
    padding: 360px 100px;
    border: 2px solid;
}

.box {
    transform-style: preserve-3d;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.animate {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 11s;
}

.rotate {
    animation-name: rotate;
}

.moveFront, .moveBack {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    color: white;
    transform-style: preserve-3d;
}

.moveFront {
    animation-name: moveFront;
    background: red;
}

.moveBack {
    animation-name: moveBack;
    background: blue;
}

@keyframes rotate {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes moveFront {
    from {
        transform: rotateZ(0deg) translateZ(120px);
    }
    to {
        transform: rotateZ(360deg) translateZ(120px);
    }
}

@keyframes moveBack {
    from {
        transform: rotateZ(360deg) translateZ(20px) rotateY(180deg);
    }
    to {
        transform: rotateZ(0deg) translateZ(20px) rotateY(180deg);
    }
}


.front::before, .back::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: inherit;
    transform: translateZ(-1px);
}